body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1092px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1092px;
  height:54px;
}
#u1739 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:1092px;
  height:54px;
}
#u1740 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:1088px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u1741 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:130px;
  height:30px;
}
#u1742 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1743 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:74px;
  width:1072px;
  height:1084px;
}
#u1743_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1072px;
  height:1084px;
  overflow:auto;
}
#u1744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 168, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 168, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1744 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:25px;
  width:82px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
}
#u1745 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u1746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1746 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:25px;
  width:82px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
}
#u1747 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
